<nav class="nav" role="navigation">
	{% if main_nav %}
	<ul class="menu">
		{% for link in main_nav.get_items %}
		<li class="menu-item {{ link.classes|join(' ') }}">
			<a href="{{ link.get_path }}">{{ link.title }}</a>
			{% if link.get_children %}
				<ul class="sub-menu">
					{% for child in link.get_children %}
					<li><a href="{{ child.get_path }}">{{ child.title }}</a>
						{% if child.get_children %}
							<ul class="sub-menu">
								{% for grandchild in child.get_children %}
								<li><a href="{{ grandchild.get_path }}">{{ grandchild.title }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif%}
</nav>
