<nav class="site-nav" role="navigation">
	{% if main_nav %}
	<ul>
		{% for link in main_nav.get_items %}
		<li class="{{ link.classes|join(' ') }}">
			<a href="{{ link.get_path }}">{{ link.title }}</a>
			{% if link.get_children %}
				<ul>
					{% for child in link.get_children %}
					<li><a href="{{ child.get_path }}">{{ child.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif%}
</nav>
