<article class="summary summary-{{ post.post_type }}" id="summary-{{ post.ID }}">
	{% block content %}
		<h2 class="summary-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
		<p class="summary-preview">{{ post.get_preview }}</p>
		{% if post.get_thumbnail %}
			<img src="{{ post.thumbnail.src }}" class="summary-hero"/>
		{% endif %}
	{% endblock %}
</article>
