<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ wp_title }}</title>
	{# html5 polyfill support for ie8 #}
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	{# Call in the minified master stylesheet #}
	<link rel="stylesheet"  href="{{ css_dir }}/master.min.css?ver={{ asset_version }}">

	{# Call wordpress header scripts #}
	{{ wp_head }}
</head>
<body class="{{ body_class }}">

{% include 'components/header.twig' %}

<main role="main">
{% block content %}
Not found.
{# This is the block for all the dynamic site content #}
{% endblock %}
</main>

{% include 'components/footer.twig' %}

{# Call the site scripts #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ js_dir }}/libs/jquery-1.11.1.min.js"><\/script>')</script>
<script src="{{ js_dir }}/libs/rem.min.js"></script>
<script src="{{ js_dir }}/global.js"></script>

{# Call wordpress footer scripts #}
{{ wp_footer }}
</body>
</html>
